{% extends "auctions/layout.html" %}
{% block body %}


<div>
    <!-- Success or Fail Bid alerts -->
    {% if message %}
        {% if message == "success" %}
            <div class="alert alert-success" role="alert">
                Your bid is successfully placed!
            </div>
        {% elif message == "not sign in" %}
            <div class="alert alert-danger" role="alert">
                Log in before placing bid
            </div>
        {% else %}
            <div class="alert alert-danger" role="alert">
                Your bid was NOT placed
            </div>
        {% endif %}
    {% endif %}

    <!-- Active/closed listing alerts -->
    {% if not listing.active %}
        {% if winner %}
            <div class="alert alert-info" role="alert">
                Congrats YOU won the auction!!
            </div>
        {% else %}
            <div class="alert alert-info" role="alert">
                Auction is CLOSED. {{ listing.latest_bid.user.username}} won it!!
            </div>
        {% endif %}
    {% endif %}
</div>

<!-- Title -->
<h2>{{ listing.title }}</h2>
<br>

<!-- Watchlist -->
 {% if watchlisted %}
 <div>
    <form action="{% url 'remove_watchlist' id=listing.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Remove from watchlist</button>
    </form>
 </div>
 {% else %}
 <div>
    <form action="{% url 'add_watchlist' id=listing.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Watchlist</button>
    </form>
 </div>
 {% endif %}
 <br>


<!-- Close auction -->
{% if listing.active and user_is_seller %}
 <div>
    <form action="{% url 'close_auction' id=listing.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Close auction</button>
    </form>
 </div>
 {% endif %}

<!-- Image, description and price -->
<img src="{{ listing.imageURL }}" alt="Product image" width="60%" style="display: block; padding: 15px; border-radius: 5%;">
<p>{{ listing.description }}</p>
<h3>${{ listing.price }}</h3>


<!-- Bid -->
{% if listing.active %}
<form action="{% url 'place_bid' id=listing.id %}" method="post">
    {% csrf_token %}
    <p>Your bid will be the current bid. Make sure it is higher than current price</p>
    <p>Latest bid by: {{ listing.latest_bid.user.username }}</p>
    {{ bid_form }}
    <br>
    <button type="submit" class="btn btn-info">Bid</button>
</form>
{% else %}
<h3>Sold to: {{ listing.latest_bid.user.username }}</h3>
{% endif %}
<br>


<!-- Details -->
<h4>Details:</h4>
<ul>
    <li>Sold by: {{ listing.seller }}</li>
    <li>Category: {{ listing.category }}</li>
</ul>
<br>


<!-- Add comment -->
{% if user.is_authenticated %}
<h5>Add Comment</h5>
<form action="{% url 'add_comment' id=listing.id %}" method="post">
    {% csrf_token %}
    {{ comment_form }}
    <br>
    <button type="submit" class="btn btn-info">Add comment</button>
</form>
{% endif %}
<br>


<!-- Comments -->
<h4>Comments: </h4>
{% for comment in listing.comments.all %}
    <div class="card" style="width: 90%;">
        <div class="card-body">
            <h6 class="card-title">{{ comment.title }}</h6>
            <h6 class="card-subtitle mb-2 text-muted">by {{ comment.user }}</h6>
            <p class="card-text">{{ comment.content }}</p>
        </div>
    </div>
{% endfor %}


{% endblock %}